.data {
    padding-left: 5%;
    padding-right: 5%; 
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(221, 217, 224);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding-top:20px ;
    padding-bottom:20px ;
}

.card-title {
    text-align: center;
}


.card-img-top{
    width: 100%;
    height: 200px;
}


.total {
    background-color: rgb(221, 217, 224);
    padding-top:20px ;
    padding-bottom:20px ;
}

.int {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}