<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Screen</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/design.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
  
    <div class="data">
        <div class="card" style="width: 18rem;">
            <img src="../static/images/algeriaflag.jpg" class="card-img-top" alt="image not appear">
            <div class="card-body">
              <h5 class="card-title">Algeria</h5>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../static/images/algeriaflag.jpg" class="card-img-top" alt="image not appear">
            <div class="card-body">
              <h5 class="card-title">Algeria</h5>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../static/images/algeriaflag.jpg" class="card-img-top" alt="image not appear">
            <div class="card-body">
              <h5 class="card-title">Algeria</h5>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../static/images/algeriaflag.jpg" class="card-img-top" alt="image not appear">
            <div class="card-body">
              <h5 class="card-title">Algeria</h5>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../static/images/algeriaflag.jpg" class="card-img-top" alt="image not appear">
            <div class="card-body">
              <h5 class="card-title">Algeria</h5>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../static/images/algeriaflag.jpg" class="card-img-top" alt="image not appear">
            <div class="card-body">
              <h5 class="card-title">Algeria</h5>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../static/images/algeriaflag.jpg" class="card-img-top" alt="image not appear">
            <div class="card-body">
              <h5 class="card-title">Algeria</h5>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../static/images/algeriaflag.jpg" class="card-img-top" alt="image not appear">
            <div class="card-body">
              <h5 class="card-title">Algeria</h5>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../static/images/algeriaflag.jpg" class="card-img-top" alt="image not appear">
            <div class="card-body">
              <h5 class="card-title">Algeria</h5>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../static/images/algeriaflag.jpg" class="card-img-top" alt="image not appear">
            <div class="card-body">
              <h5 class="card-title">Algeria</h5>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../static/images/algeriaflag.jpg" class="card-img-top" alt="image not appear">
            <div class="card-body">
              <h5 class="card-title">Algeria</h5>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../static/images/algeriaflag.jpg" class="card-img-top" alt="image not appear">
            <div class="card-body">
              <h5 class="card-title">Algeria</h5>
            </div>
          </div>


    </div>
   

  


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>