<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/testing.css')}}">
    <script src="https://kit.fontawesome.com/0d7d2630f8.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>chat screen</title>
</head>

<body>

    <div class="navmess p-6">
        <ul class="list-group p-6">

            <div class="search">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" placeholder="Search user?">
                <button class="btn btn-primary" onclick="changegrid()">Search</button>
            </div>



            <li class="list-group-item  d-flex p-2  align-items-center "> <img src="https://th.bing.com/th/id/OIP.CFYwFDlR1XWX2udq_niNGgHaLH?pid=ImgDet&rs=1" alt="Avatar" class="avatar ms-2 me-4">
                <div class="col">
                    <div class="row"><a href="">Mustapha algeria</a></div>
                    <div class="row status">
                        status</div>
                </div>
            </li>
            <li class="list-group-item  d-flex p-2  align-items-center "> <img src="https://th.bing.com/th/id/OIP.CFYwFDlR1XWX2udq_niNGgHaLH?pid=ImgDet&rs=1" alt="Avatar" class="avatar ms-2 me-4">
                <div class="col">
                    <div class="row"><a href="">Mustapha algeria</a> </div>
                    <div class="row status">
                        status</div>
                </div>
            </li>
            <li class="list-group-item  d-flex p-2  align-items-center "> <img src="https://th.bing.com/th/id/OIP.CFYwFDlR1XWX2udq_niNGgHaLH?pid=ImgDet&rs=1" alt="Avatar" class="avatar ms-2 me-4">
                <div class="col">
                    <div class="row"><a href="">Mustapha algeria</a></div>
                    <div class="row status">
                        status</div>
                </div>
            </li>
            <li class="list-group-item  d-flex p-2  align-items-center "> <img src="https://th.bing.com/th/id/OIP.CFYwFDlR1XWX2udq_niNGgHaLH?pid=ImgDet&rs=1" alt="Avatar" class="avatar ms-2 me-4">
                <div class="col">
                    <div class="row"><a href="">Mustapha algeria</a></div>
                    <div class="row status">
                        status</div>
                </div>
            </li>
            <li class="list-group-item  d-flex p-2  align-items-center "> <img src="https://th.bing.com/th/id/OIP.CFYwFDlR1XWX2udq_niNGgHaLH?pid=ImgDet&rs=1" alt="Avatar" class="avatar ms-2 me-4">
                <div class="col">
                    <div class="row"><a href="">Mustapha algeria</a></div>
                    <div class="row status">
                        status</div>
                </div>
            </li>
            <li class="list-group-item  d-flex p-2  align-items-center "> <img src="https://th.bing.com/th/id/OIP.CFYwFDlR1XWX2udq_niNGgHaLH?pid=ImgDet&rs=1" alt="Avatar" class="avatar ms-2 me-4">
                <div class="col">
                    <div class="row"><a href="">Mustapha algeria</a></div>
                    <div class="row status">
                        status</div>
                </div>
            </li>
            <li class="list-group-item  d-flex p-2  align-items-center "> <img src="https://th.bing.com/th/id/OIP.CFYwFDlR1XWX2udq_niNGgHaLH?pid=ImgDet&rs=1" alt="Avatar" class="avatar ms-2 me-4">
                <div class="col">
                    <div class="row"><a href="">Mustapha algeria</a></div>
                    <div class="row status">
                        status</div>
                </div>
            </li>
            <li class="list-group-item  d-flex p-2  align-items-center "> <img src="https://th.bing.com/th/id/OIP.CFYwFDlR1XWX2udq_niNGgHaLH?pid=ImgDet&rs=1" alt="Avatar" class="avatar ms-2 me-4">
                <div class="col d-flex flex-column d-flex flex-row align-self-start">
                    <div class="row"><a href="">Mustapha algeria</a></div>
                    <div class="row status">
                        status</div>
                </div>
            </li>
            <li class="list-group-item  d-flex p-2  align-items-center "> <img src="https://th.bing.com/th/id/OIP.CFYwFDlR1XWX2udq_niNGgHaLH?pid=ImgDet&rs=1" alt="Avatar" class="avatar ms-2 me-4">
                <div class="col">
                    <div class="row"><a href="">Mustapha algeria</a></div>
                    <div class="row status">
                        status</div>
                </div>
            </li>
            <li class="list-group-item  d-flex p-2  align-items-center "> <img src="https://th.bing.com/th/id/OIP.CFYwFDlR1XWX2udq_niNGgHaLH?pid=ImgDet&rs=1" alt="Avatar" class="avatar ms-2 me-4">
                <div class="col">
                    <div class="row"><a href="">Mustapha algeria</a></div>
                    <div class="row status">
                        status</div>
                </div>
            </li>
            <li class="list-group-item  d-flex p-2  align-items-center "> <img src="https://th.bing.com/th/id/OIP.CFYwFDlR1XWX2udq_niNGgHaLH?pid=ImgDet&rs=1" alt="Avatar" class="avatar ms-2 me-4">
                <div class="col">
                    <div class="row"><a href="/mus">Mustapha egypt</a></div>
                    <div class="row status">
                        status</div>
                </div>
            </li>

        </ul>
        <section class="msger">
            <header class="msger-header">
                <div class="msger-header-title">
                    <div class="usercontacted d-flex">
                        <img src="https://th.bing.com/th/id/OIP.CFYwFDlR1XWX2udq_niNGgHaLH?pid=ImgDet&rs=1" alt="Avatar" class="avatar ms-2 me-4">
                        <div class="col">
                            <h5 class="row">Mustapha Belkassem</h5>
                            <div class="row status">
                                status</div>
                        </div>

                    </div>

                </div>
                <div class="configchat">
                    <button type="button" class="btn btn-primary  btn-floating">
                        <ion-icon name="call"></ion-icon>
                      </button>
                    <button type="button" class="btn btn-outline-success btn-floating" data-mdb-ripple-color="dark">
                        <ion-icon name="videocam"></ion-icon>
                      </button>
                    <button type="button" class="btn btn-danger btn-floating">
                        <ion-icon name="help-circle-outline"></ion-icon>
                      </button>
                </div>
            </header>

            <main class="msger-chat">
                {% for message in last_messages %} {% if message[user_id] session['userid'] %}
                <div class="msg right-msg">
                    <div class="msg-img" style="background-image: url(https://th.bing.com/th/id/OIP.UGlKxiZQylR3CnJIXSbFIAHaLL?pid=ImgDet&rs=1)"></div>

                    <div class="msg-bubble">
                        <div class="msg-info">
                            <div class="msg-info-name">{{message.username}}</div>
                            <div class="msg-info-time">{{message.date[16:20]}}]</div>
                        </div>

                        <div class="msg-text">
                            {{message.message}}
                        </div>
                    </div>
                </div> {% else %}
                <div class="msg left-msg">
                    <div class="msg-img" style="background-image: url(https://th.bing.com/th/id/OIP.UGlKxiZQylR3CnJIXSbFIAHaLL?pid=ImgDet&rs=1)"></div>

                    <div class="msg-bubble">
                        <div class="msg-info">
                            <div class="msg-info-name">{{message.username}}</div>
                            <div class="msg-info-time">{{message.date[16:21]}}</div>
                        </div>

                        <div class="msg-text">
                            {{message.message}}
                        </div>
                    </div>
                </div>{% endif %} {% endfor %}

            </main>

            <form class="msger-inputarea">
                <input type="text" class="msger-input" placeholder="Enter your message...">
                <button type="submit" class="msger-send-btn">Send</button>
            </form>
        </section>
    </div>

    <div class="iden">

        <p class="username">{{ session['username']}}</p>
        <p class="user_id">{{ session['userid']}}</p>
        <p class="image_url">{{ session['image_url']}}</p>
        <i class="fa-solid fa-french-fries"></i>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='javascript/chat.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>